import random


###Menu

def _menu():
    print('----------------Select decider Games----------- ')
    print('(1)Rock Paper Scissors')
    print('(2)Heads or Tails')

    userOption=int(input('Select option : '))
    if userOption == 1:
        _rock_paper_scissors()

    elif userOption == 2:
        _head_or_tails()



#####Option 1 rockpaperscissors
def _rock_paper_scissors():

    

    computerOption = ['Rock','Paper','Scissors']
    choice_computeroption = random.choice(computerOption)

    print('  ')
    print('You selected to play RockPaperScissors')
    print()
    print('You are playing against the computer.')
    option=int(input('(1)Rock \n(2)Paper \n(3)Scissors\nSelect: '))

    if option == 1:
        computerOption = ['Rock','Paper','Scissors']
        print('You chose Rock')
        
        input('*****************************************************************************[Press ENTER to continue]')

        
        print('Your opponent chose',choice_computeroption)
        input('*****************************************************************************[Press ENTER to continue]')

        if choice_computeroption == 'Paper':
            print('You Lose!')
            

        elif choice_computeroption == 'Scissors':
            print('You Win')

        else:
            if choice_computeroption == 'Rock':
                print('Draw')
        print()
        input('*****************************************************************************[Press ENTER to continue]')

        nextoption=int(input('(1)Play again \n(2)Back To Menu \n(3)Close program\nSelect: '))
        if nextoption == 1:
            _rock_paper_scissors()

        elif nextoption == 2:
            _menu()

        else:
            quit()


##### Paper option 2

    if option == 2:
        print('You chose Paper')
        
        input('*****************************************************************************[Press ENTER to continue]')

        print('Your opponent chose',choice_computeroption)
        
        input('*****************************************************************************[Press ENTER to continue]')

        if choice_computeroption == 'Rock':
            print('You Win!')

        elif choice_computeroption == 'Scissors':
            print('You Lose')

        else:
            if choice_computeroption == 'Paper':
                print('Draw')

        input('*****************************************************************************[Press ENTER to continue]')

        nextoption=int(input('(1)Play again \n(2)Back To Menu \n(3)Close program\nSelect: '))
        if nextoption == 1:
            _rock_paper_scissors()

        elif nextoption == 2:
            _menu()

        else:
            quit()

        
#### Scissors option 3 
    if option == 3:
        computerOption = ['Rock','Paper','Scissors']
        print('You chose Scissors')
        
        input('*****************************************************************************[Press ENTER to continue]')

        print('Your opponent chose',choice_computeroption)
        input('*****************************************************************************[Press ENTER to continue]')

        if choice_computeroption == 'Paper':
            print('You Win!')

            

        elif choice_computeroption == 'Rock':
            print('You Lose')

        else:
            if choice_computeroption == 'Scissors':
                print('Draw')

        input('*****************************************************************************[Press ENTER to continue]')

        nextoption=int(input('(1)Play again \n(2)Back To Menu \n(3)Close program\nSelect: '))
        if nextoption == 1:
            _rock_paper_scissors()

        elif nextoption == 2:
            _menu()

        else:
            quit()




def _head_or_tails():

    headsOrTails = ['tails','heads']
    heads= input('Allocate what you want heads to be : ')
    tails= input('Allocate what you want tails to be : ')

    
    random_option= random.choice(headsOrTails)
    print(random_option)

    if random_option == 'tails':
        print('So the computer allocates,"', tails,'"')

    else:
        print('So the computer allocates,"', heads,'"')


    print('')
    input('*****************************************************************************[Press ENTER to continue]')
    print('')

    nextoption=int(input('(1)Play again \n(2)Back To Menu \n(3)Close program\nSelect: '))
    if nextoption == 1:
        _head_or_tails()
    elif nextoption == 2:
        _menu()

    else:
        quit()
    

    



_menu()


